{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h1>Stiamo processando il tuo pagamento!</h1>

    <p>Per favore, attendi fino a quando non vedrai una nuova pagina di stato!</p>


    <img src="{{ asset('build/shop/images/loading.gif', 'shop') }}" alt="Loading...">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.afterUrl = "{{ afterUrl }}";
        window.paymentStatusUrl = "{{ paymentStatusUrl }}";
    </script>
    <script src="{{ asset('bundles/webgriffesyliuspagolightplugin/poll_payment.js') }}"></script>
{% endblock %}
