<h1>{{ 'webgriffe_sylius_heylight.ui.processing_payment'|trans }}</h1>

<p>{{ 'webgriffe_sylius_heylight.ui.please_wait'|trans }}</p>

<img src="{{ asset('build/shop/images/loader.gif', 'shop') }}"
     alt="{{ 'webgriffe_sylius_heylight.ui.loading'|trans }}"
     style="max-width: 100px; max-height: 100px;">

{% if hookable_metadata.context.redirectUrl %}
    <a href="{{ hookable_metadata.context.redirectUrl }}">
        {{ 'webgriffe_sylius_heylight.ui.return_to_heylight_checkout'|trans }}
    </a>
{% endif %}
